fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.formGroup {
    display: flex;
    gap: 4%;

}

.formGroup > div {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .formGroup {
        flex-direction: column;
    }
}