fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.formGroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 86px);
    gap: 16px;
}

@media screen and (max-width: 600px) {
    .formGroup {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
}